body {
  background-color: #5046ac;
  /* min-height: 100vh; */
  overflow-x: hidden;
}
.custom_01 {
  width: 100vw;
}
.custom_02 {
  width: 500vw;
}
.custom_03 {
  width: 800vw;
}
.custom_04 {
  width: 75vw;
  margin: 0 auto;
}
.custom_flex {
  display: flex;
  align-items: center;
  padding: 0 120px;
  justify-content: space-between;
}
.custom_color {
  background: #ededf4;
}
.custom_color_dark {
  background: #15152d;
}

.horizontal3,
.horizontal2,
.horizontal {
  display: flex;
  position: relative;
}

.panel3,
.panel2,
.panel {
  height: 100vh;
  flex: 0 0 100vw;
  position: relative;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.polygon {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  -webkit-clip-path: polygon(41% 0, 100% 0, 62% 100%, 0 100%);
  clip-path: polygon(41% 0, 100% 0, 62% 100%, 0 100%);
}
.polygon_reverse {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  -webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 41% 100%);
  clip-path: polygon(0 0, 62% 0, 100% 100%, 41% 100%);
}
.close {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 71px;
}
.porfolio_desc_fixed {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  z-index: 111;
  font-family: "Red Hat Display";
  padding: 7.2vw 0;
  font-weight: 900;
  font-size: 0.7vw;
}
.porfolio_desc_fixed p {
  transform: rotate(90deg);
}
.point {
  position: relative !important;
  height: 300vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.point2 {
  position: relative !important;
  height: 300vw !important;
  overflow: hidden;
}

#header {
  z-index: 100000;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background: linear-gradient(#5046ac, #5046ac00);
  padding: 1vw;
  align-items: center;
}
#header h2 {
  margin-right: 2.2vw;
  font-size: 1vw;
  font-weight: 900;
}
#header a {
  border-right: 1px solid #3434402f;
  margin-right: 0.8vw;
  padding-right: 0.8vw;
  color: #34344086;
  font-size: 0.7vw;
  transition: 0.25s;
  cursor: pointer;
}
#header a:hover {
  color: #fe3672 !important;
}
#header a:not(:hover) {
  transition: 0.25s;
}
#header a:last-child {
  margin-right: 0;
  border-right: none;
}
