/*prevent many large-by-comparison ripples by shrinking the height*/
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section1_img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    &:nth-child(1) {
      left: 50%;
      transform: translate(-50%, 150%);
      // transform: translate(-50%, 0%);
      width: 10vw;
    }
    &:nth-child(2) {
      left: 40%;
      transform: translate(33%, 92%) rotate(-230deg) scale(0.5);
      // transform: translate(-60%, 0);
      width: 11vw;
    }
    &:nth-child(3) {
      right: 30%;
      transform: translate(-170%, 100%) rotate(230deg) scale(0.5);
      // transform: translate(70%, 0);
      width: 9vw;
    }
    &:nth-child(4) {
      right: 10%;
      transform: translate(-950%, 120%) rotate(230deg);
      // transform: translate(70%, 0);
      width: 4vw;
    }
    &:nth-child(5) {
      left: 10%;
      transform: translate(780%, 110%) rotate(230deg);
      // transform: translate(70%, 0);
      width: 5vw;
    }
    &:nth-child(6) {
      left: 5%;
      transform: translate(1500%, 120%) rotate(230deg);
      // transform: translate(70%, 0);
      width: 3vw;
    }
    &:nth-child(7) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 145%);
      // transform: translate(-50%, 0);
      opacity: 0.7;
      width: 50vw;
      // scale: 0;
    }
    &:nth-child(8) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 145%);
      // transform: translate(-50%, 0);
      width: 35vw;
      // scale: 0;
    }
    &:nth-child(9) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 50vw;
    }
    &:nth-child(10) {
      right: 10%;
      transform: translate(-750%, 800%) rotate(-230deg);
      // transform: translate(-60%, 0);
      top: -450px;
      width: 5vw;
    }
    &:nth-child(11) {
      left: 20%;
      transform: translate(500%, 1600%) rotate(200deg);
      // transform: translate(-50%, 0);
      top: -450px;
      width: 3vw;
    }
  }
}
.splitText {
  // position: absolute;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 25%, #fff 60%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  font-size: 13vw;
  font-weight: 100;
  z-index: 1;
  line-height: 80%;
  height: 0;
}
.section1_desc {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 63%;
    font-size: 80px;
    font-weight: 900;
  }
  h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 25%, #fff 60%);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    font-size: 13vw;
    font-weight: 100;
    z-index: 1;
    line-height: 80%;
    height: 0;
    em {
      font-weight: 900;
    }
  }
  &::before {
    position: absolute;
    content: "";
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 155px;
    background: linear-gradient(0deg, #5147ad, #5045ab00);
    left: 0;
    z-index: 10;
  }
}
.close {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 71px;
}
.lama_ctrl {
  overflow: hidden;
}
.vr1 {
  overflow: hidden;
}
.vr2 {
  overflow: hidden;
}
.vr3 {
  overflow: hidden;
}
.vr4 {
  overflow: hidden;
}
.vr5 {
  overflow: hidden;
}
.vr6 {
  overflow: hidden;
}
.vr7 {
  overflow: hidden;
}
.vr8 {
  overflow: hidden;
}
.flex_ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2_desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #fff;
}
.section2_profile {
  width: 30vw;
  z-index: 2;
}
.section2_profile_cont {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 27vw;
    height: 27vw;
    border-radius: 100%;
    background: linear-gradient(125deg, #ffffff, #ffffff00 80%);
    transform: translate(-50%, -45%);
    z-index: -1;
  }
}
.section2_cont {
  display: flex;
  width: 75vw;
  height: 100%;
  margin: 0 auto;
}
.section {
  .lama {
    position: absolute;
    bottom: 15vw;
    right: -300px;
    width: 11vw;
  }
}
.first_name {
  font-size: 13.1vw;
  font-weight: 900;
  line-height: 0.8;
  text-align: left;
  z-index: 12;
  background: linear-gradient(360deg, #fff0 10%, #fff 80%);
  color: transparent;
  -webkit-background-clip: text;
}
.porfolio_desc {
  font-size: 2vw;
  font-family: "NexonLv1GothicLow";
  font-weight: 400;
}
.second_name {
  font-size: 5vw;
  font-weight: 900;
  line-height: 0.9;
}
.third_name {
  font-size: 120px;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  color: #5046ac;
  opacity: 0.2;
}
.fifth_name {
  font-size: 5vw;
  font-weight: 900;
  color: #ffffff63;
  opacity: 0.2;
  line-height: 0.9;
}
.section3_fixed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    font-weight: 100;
    font-size: 5vw;
    white-space: nowrap;
  }
  em {
    font-weight: 900;
    color: #fff;
  }
}
.section3_item {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  button {
    padding: 0.5vw;
    border: 1px solid #fff;
    background: #ffffff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 4.5vw;
    cursor: pointer;
    font-size: 1vw;
    color: #000;
    &:nth-child(3) {
      background: transparent;
      color: #fff;
    }
    &:hover {
      transition: 0.25s;
      background: #5046ac;
      color: #fff;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
  h2 {
    font-size: 2.2vw;
    font-weight: 900;
    line-height: 0.8;
  }
  p {
    width: 32vw;
    font-size: 1vw;
    margin: 10px 0px 30px 0px;
    color: #ffffffc2;
  }
  img {
    width: 30vw;
  }
}
.section3_item.i001 {
  position: absolute;
  top: 13vw;
  left: 105vw;
}
.section3_item.i002 {
  position: absolute;
  top: 5vw;
  left: 168vw;
}
.section3_item.i003 {
  position: absolute;
  bottom: 6vw;
  left: 213vw;
}
.section3_item.i004 {
  position: absolute;
  top: 7vw;
  left: 256vw;
}
.section3_item.i005 {
  position: absolute;
  top: 9vw;
  left: 337vw;
}
.section3_item.i006 {
  position: absolute;
  bottom: 4vw;
  left: 306vw;
}
.section3_item_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
}
.section3_item {
  .item_desc {
    background: linear-gradient(
      45deg,
      rgb(42 34 116),
      rgba(42, 34, 116, 0.7215686275)
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 20px;
    transform: translate(-122px, 18px);
    border: 11px solid rgb(0 0 0 / 13%);
    position: relative;

    &::after {
      position: absolute;
      top: 20px;
      right: 26px;
      content: "";
      width: 5px;
      height: 20px;
      background: #fff;
      border-radius: 100px;
      transform: rotate(45deg);
    }
  }
}
.section3_item_bottom2 {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 300%;
  opacity: 0.7;
  filter: blur(3px);
}
.section3_item_bottom3 {
  position: absolute;
  bottom: 0;
  left: 600%;
  width: 300%;
}
.section3_item_bottom4 {
  position: absolute;
  bottom: 0;
  left: 900%;
  width: 300%;
}
.custom_color {
  .lama {
    position: sticky;
    width: 418px;
    top: 100%;
    left: 100%;
  }
}
.section4_fixed {
  position: sticky;
  top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 12vw;
  color: #353541;
  .title {
    font-size: 5vw;
    font-weight: 100;
    white-space: nowrap;
    em {
      background: linear-gradient(
        45deg,
        #4e4bff 26%,
        #ff4ac8 76%,
        #8349ff 100%
      );
      color: transparent;
      -webkit-background-clip: text;
      font-weight: 900;
    }
  }
  .desc_cont {
    display: flex;
    align-items: center;
    .desc {
      font-size: 1vw;
      margin-right: 20px;
    }
    .title_button_cont {
      display: flex;
      flex-direction: column;
      gap: 10px;
      button {
        padding: 5px 10px;
        color: #26263b;
        box-shadow: 0px 8px 0px 2px #9090a8;
        font-weight: 900;
        background: linear-gradient(
          45deg,
          #5856d4 26%,
          #bb47bd 76%,
          #8258dc 100%
        );
        color: transparent;
        -webkit-background-clip: text;
        cursor: pointer;
      }
    }
  }
}
.section4_button_cont {
  display: flex;
  flex-direction: column;
  button {
    border: 1px solid #000;
    width: 4vw;
    height: 2.3vw;
    font-size: 1vw;
    transition: 0.25s;
    cursor: pointer;
    color: #353541;
    margin-bottom: 2px;
    &:hover {
      background: #343440;
      color: #fff;
      transition: 0.25s;
    }
  }
}
.section4_item {
  width: 76.3vw;
  height: 35.3vw;
  background: #82869c;
  padding-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  font-family: "BebasNeue";
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  background-image: url("../../../img/section4_screenshot_01.jpg");
  background-size: auto;
  margin: 0 auto;
  margin-bottom: 14vw;
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(270deg, #82869c 50%, #443cb600 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    background-image: url("../../../img/section4_icon_music.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 21.2vw;
    height: 32.2vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  h2 {
    font-family: "BebasNeue";
    font-size: 8.2vw;
    z-index: 3;
    line-height: 0.9;
  }
}
.section4_icon_layout {
  position: relative;
  filter: drop-shadow(0px 59px 40px #82869c70);
  color: #82869c70;
}
.section4 {
  .item_cont {
    display: flex;
  }
}
.section4_rev_item {
  width: 76.3vw;
  height: 35.3vw;
  background: #82869c;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  font-family: "BebasNeue";
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  background-image: url("../../../img/section4_screenshot_01.jpg");
  background-size: auto;
  margin: 0 auto;
  margin-bottom: 14vw;
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(270deg, #fe367208 20%, #fe3672 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    background-image: url("../../../img/section4_icon_music.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 21.2vw;
    height: 32.2vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  h2 {
    font-family: "BebasNeue";
    font-size: 8.2vw;
    z-index: 3;
    line-height: 0.9;
  }
}
.section4_rev_icon_layout {
  position: relative;
  filter: drop-shadow(0px 59px 40px #82869c70);
  color: #82869c70;
}
.lamas {
  width: 56.5vw;
  position: absolute;
  bottom: 0;
}
.section4_item_desc {
  z-index: 3;
  h4 {
    font-size: 4.5vw;
  }
  p {
    width: 60%;
    opacity: 0.7;
    font-size: 1vw;
  }
}
.section4_rev_item_desc {
  h4 {
    font-size: 4.5vw;
  }
  p {
    width: 60%;
    opacity: 0.7;
    font-size: 1vw;
  }
}
.pin {
  background: #fff;
  height: 20vh !important;
}
.pin2 {
  height: 20vh !important;
}
.section4_left {
  width: 50%;
}
.section4_right {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section4_rev_left {
  width: 50%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 30px;
}
.section4_rev_right {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.point {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    z-index: 1;
    background: linear-gradient(0deg, #ededf4 30%, #ededf400 50%);
    bottom: 0;
    height: 26.5vw;
    width: 100%;
  }
  &::after {
    position: absolute;
    content: "";
  }
}
.section5_fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    font-weight: 100;
    font-size: 5vw;
    white-space: nowrap;
    color: #000;
  }
  em {
    font-weight: 900;
    color: #6236fe;
  }
}
.section5_item {
  color: #26263b;
  position: absolute;
  top: 50%;
  left: 50%;
  // filter: blur(5px);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    font-family: "GmarketSans";
  }
  p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1vw;
  }
  a {
    color: #26263b;
    border: 1px solid #26263b;
    width: 6vw;
    height: 3vw;
    font-size: 1.1vw;
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #26263b;
      color: #fff;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
}
.panel2 {
  .section5_item {
    h2 {
      > em {
        color: #5856d4;
        font-weight: 900;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: -10px;
          right: -10px;
          background: #5856d4;
          width: 9px;
          height: 20px;
          border-radius: 100px;
          transform: rotate(45deg);
        }
      }
    }
    &:nth-child(2) {
      h2 {
        > em {
          &::before {
            background: red;
          }
        }
      }
    }
  }
}
.section5_button_cont {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section5_screenshot_cont {
  margin-bottom: 50px;
  img {
    width: 22vw;
  }
}
.section5_contents_cont {
  height: 100vh;
  align-items: center;
  display: flex;
}
.next_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  color: #26263b;
  box-shadow: 0px 8px 0px 2px #9090a8;
  font-weight: 900;
  background: linear-gradient(45deg, #5856d4 26%, #bb47bd 76%, #8258dc 100%);
  color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}
.parallax {
  > use {
    &:nth-child(1) {
      animation-delay: -2s;
    }
    &:nth-child(2) {
      animation-delay: -2s;
      animation-duration: 5s;
    }
    &:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 3s;
    }
  }
}
.editorial {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}
.content {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -0.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
  font-size: 1em;
  h1 {
    margin-top: -1.3em;
    font-weight: 100;
    font-size: 5em;
    cursor: default;
  }
}
h1 {
  outline: none;
}
// .section5p5_fixed {
//   position: sticky;
//   top: 50%;
//   text-align: center;
//   h2 {
//     font-weight: 100;
//     font-size: 5vw;
//     white-space: nowrap;
//     color: #000;
//   }
//   em {
//     font-weight: 900;
//     color: #fe3665;
//   }
// }
.horizontal3 {
  .lama {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.section6_fixed {
  position: absolute;
  top: 11.5vw;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #fff;
}
.section6_button_cont {
  display: flex;
  justify-content: center;
  gap: 20px;
  button {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
  }
}
.section6_item {
  position: relative;
  color: #fff;
  &::before {
    content: "";
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #ffffff8a;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, #151326, #1513267d);
    border: 4px solid #fe3672;
    content: "";
    position: absolute;
  }
}
.section6_item_desc {
  position: absolute;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 42px;
    font-family: "GmarketSans";
    font-weight: 600;
    line-height: 100%;
  }
  p {
    border-top: 2px solid #fff;
    padding-top: 10px;
  }
}
.section7_flex_cont {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.section7_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url("../../../img/section7_screenshot_01.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(21, 19, 38, 0) 0%, #15152d 60%);
  }
}
.section7_main_title_cont {
  h2 {
    color: #6dd03e;
    font-weight: 900;
    font-size: 120px;
    line-height: 75%;
  }
  p {
    padding: 2px 6px;
    background: #383550;
    color: #6dd03f;
    display: inline-block;
    margin: 20px 0px 0px 7px;
    border-radius: 5px;
    font-weight: 400;
    height: 27px;
  }
}
.section7_blog_desc {
  text-align: right;
  width: 50%;
}
.section7_button_cont {
  margin-top: 20px;
  button {
    padding: 7px 12px;
    border: 1px solid #fff;
    color: #fff;
  }
}
.section8_flex_cont {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.section8_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url("../../../img/section7_screenshot_02.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #15132600 0%, #100f1c 60%);
  }
}
.section8_main_title_cont {
  h2 {
    background: linear-gradient(45deg, #5856d4 26%, #bb47bd 76%, #8258dc 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 120px;
    line-height: 75%;
  }
  p {
    padding: 2px 6px;
    background: #383550;
    color: #bb47bd;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    float: right;
    border-radius: 5px;
    font-weight: 400;
    height: 27px;
  }
}
.section8_blog_desc {
  text-align: left;
  width: 50%;
}
.section8_button_cont {
  margin-top: 20px;
  button {
    padding: 7px 12px;
    border: 1px solid #fff;
    color: #fff;
  }
}
.section9_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec8_bg {
  height: 100%;
}
.section9_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
  p {
    color: #fff;
  }
}
.section9_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec8_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section9_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title_wrap {
  display: flex;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #fff;
  .title {
    line-height: 100%;
    em {
      font-weight: 900;
    }
  }
}
.sub_ttitle {
  font-size: 16px;
  padding: 2px 4px;
  border-radius: 5px;
  height: 26px;
  margin-top: 6px;
  font-weight: 600;
  margin-left: 10px;
  background: #fff;
  color: #000 !important;
}
.section10_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec10_bg {
  height: 100%;
}
.section10_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
  p {
    color: #fff;
  }
}
.section10_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec10_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section10_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section11_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec11_bg {
  height: 100%;
}
.section11_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
}
.section11_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec11_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 30vh;
}
.section11_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section12_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec12_bg {
  height: 100%;
}
.section12_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
}
.section12_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec12_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section12_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section13_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec13_bg {
  height: 100%;
}
.section13_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
}
.section13_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec13_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section13_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section14_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec14_bg {
  height: 100%;
}
.section14_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  z-index: 1;
}
.section14_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec14_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section14_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section15_flex_cont {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section15_all_cont {
  width: 90vw;
  margin: 0 auto;
}
.section15_main_title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  h2 {
    font-size: 42px;
    font-weight: 900;
    color: black;
  }
}
.section15_list_cont {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #00000017;
    li {
      color: #151326;
      font-size: 14px;
      &:nth-child(1) {
        width: 7%;
        border: 1px solid #000;
        padding: 5px;
      }
      &:nth-child(2) {
        text-align: left;
        width: 20%;
        font-size: 22px;
        font-weight: 900;
      }
      &:nth-child(3) {
        width: 53%;
        text-align: left;
      }
      &:nth-child(4) {
        width: 20%;
        text-align: right;
      }
      a {
        margin-right: 5px;
        color: #151326;
        padding: 2px 5px;
        background: #00000012;
        &:last-child {
          margin-right: 0;
        }
      }
      p {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.section16_item_cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 120px;
  gap: 20px;
  img {
    width: 50%;
  }
}
.contact_cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .input_cont {
    display: flex;
    flex-direction: column;
    input {
      border: 1px solid #35346145;
      background: #e5e5ef6e;
      color: #353461;
      height: 50px;
      border-bottom: 0px;
      padding: 10px;
    }
    textarea {
      border: 1px solid #35346145;
      background: #e5e5ef6e;
      color: #353461;
      height: 300px;
      padding: 10px;
    }
    button {
      background: #353461;
      color: #fff;
      text-align: left;
      height: 50px;
      padding: 10px;
    }
  }
  h2 {
    font-weight: 900;
    font-size: 50px;
    color: #5856d4;
  }
}
.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@media (max-width: 50em) {
  .content {
    h1 {
      font-size: 12vmax;
    }
  }
  .editorial {
    height: 17vw;
  }
}
